
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 7%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
}

.header-left{
    display: flex;
    align-items: center;
    gap: 5rem;
  
}
.header-left div h1{
    color: blue;
    font-weight:bolder;
    font-size: 2rem;
    cursor: pointer;
}

.header-left div p{
    text-transform: capitalize;
    margin-top: -1.4rem;
    font-size: 1.2rem;
    font-weight: bolder;
    cursor: pointer;
    letter-spacing: 1px;
}
.header-left p{
    cursor: pointer;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
.header-right{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header-right p{
    font-size: 1.2rem;
    opacity: .6;
    line-height: .9;
}

.header-right button {
    background-color: blue;
    color: #fff;
    outline: none;
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
}